<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Notice</title>
	<link rel="stylesheet" href="../css/customer/layout.css">
</head>
<body>
	<div class="board_wrap">
		<div class="board_title">
			<strong>お知らせ</strong>
			<p>お知らせを迅速かつ正確にご案内いたします。</p>
		</div>
		<div class="board_search">
		<form>
			<select name="f">
				<option value="title">題目</option>
				<option value="writer">作成者</option>
			</select>
			<input type="text" name="q" value=""/>
			<input class="btn-search" type="submit" value="検索">
		</form>
		</div>
		<div class="board_list_wrap">
			<div class="board_list">
				<div class="top">
					<div class="num">番号</div>
					<div class="title">題目</div>
					<div class="writer">作成者</div>
					<div class="date">作成日</div>
					<div class="count">照会</div>
				</div>
				<div>
					<div class="num">5</div>
					<div class="title"><a href="detail.html"></a>제목</div>
					<div class="writer">유재천</div>
					<div class="date">2021.1.15</div>
					<div class="count">33</div>
				</div>
				<div>
					<div class="num">4</div>
					<div class="title"><a href="detail.html"></a>제목</div>
					<div class="writer">유재천</div>
					<div class="date">2021.1.15</div>
					<div class="count">33</div>
				</div>
				<div>
					<div class="num">3</div>
					<div class="title"><a href="detail.html"></a>제목</div>
					<div class="writer">유재천</div>
					<div class="date">2021.1.15</div>
					<div class="count">33</div>
				</div>
				<div>
					<div class="num">2</div>
					<div class="title"><a href="detail.html"></a>제목</div>
					<div class="writer">유재천</div>
					<div class="date">2021.1.15</div>
					<div class="count">33</div>
				</div>
				<div>
					<div class="num">1</div>
					<div class="title"><a href="detail.html"></a>제목</div>
					<div class="writer">유재천</div>
					<div class="date">2021.1.15</div>
					<div class="count">33</div>
				</div>
			</div>
			<div class="board_page">
				<a href="#" class="bt fisrt"><<</a>
				<a href="#" class="bt prev"><</a>
				<a href="#" class="num on">1</a>
				<a href="#" class="num">2</a>
				<a href="#" class="num">3</a>
				<a href="#" class="num">4</a>
				<a href="#" class="num">5</a>
				<a href="#" class="bt next">></a>
				<a href="#" class="bt last">>></a>
			</div>
			<div class="bt_wrap">
				<a href="write.html" class="on">登録</a>
			</div>
		</div>
	</div>
</body>
</html>